In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Ads_Optimisation.csv')

In [4]:
df.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ad 1    10000 non-null  int64
 1   Ad 2    10000 non-null  int64
 2   Ad 3    10000 non-null  int64
 3   Ad 4    10000 non-null  int64
 4   Ad 5    10000 non-null  int64
 5   Ad 6    10000 non-null  int64
 6   Ad 7    10000 non-null  int64
 7   Ad 8    10000 non-null  int64
 8   Ad 9    10000 non-null  int64
 9   Ad 10   10000 non-null  int64
dtypes: int64(10)
memory usage: 781.4 KB

In [12]:
import random
N = 10000 #sample
d = 10 #no. of ads
ads_selected = []
total_reward = 0
for n in range (0, N):
  ad = random.randrange(d)
  ads_selected.append(ad)
  reward = df.values[n, ad]
  total_reward = total_reward + reward

In [19]:
pd.Series(ads_selected).head(100).value_counts(normalize=True)

4    0.16
5    0.13
6    0.12
2    0.10
9    0.09
8    0.09
1    0.09
7    0.09
3    0.08
0    0.05
dtype: float64

In [20]:
#Implementing UCB
import matplotlib
N= 10000
d = 10
ads_selected = []
numbers_of_selections = [0] * d
sums_of_reward = [0] * d
total_reward = 0

In [33]:
import math
for n in range (0,N):
  ad = 0
  max_upper_bound = 0
  for i in range (0, d):
    if(numbers_of_selections[i] > 0):
      average_reward = sums_of_reward[i] / numbers_of_selections[i]
      delta_i = math.sqrt(2 * math.log(n+1) / numbers_of_selections[i])
      upper_bound = average_reward + delta_i

    else:
      upper_bound = 1e400

    if upper_bound > max_upper_bound:
      max_upper_bound = upper_bound
      ad = i 
ads_selected.append(ad)
numbers_of_selections[ad] += 1
reward = df.values[n, ad]
sums_of_reward[ad] += reward
total_reward+= reward

In [37]:
pd.Series(ads_selected).tail(10000).value_counts(normalize=True)

0    0.25
1    0.25
2    0.25
3    0.25
dtype: float64