# Probability Drill

## Q1. Student grades and absence

Download the dataset from Kaggle: 

https://www.kaggle.com/datasets/uciml/student-alcohol-consumption

Compute the probability that a student obtains 80% or more in mathematics, given he/she misses atleast 10 classes. Do this in Python.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [4]:
len(df)

395

In [5]:
pivot = df.iloc[0:395][['absences', 'G3']]

In [6]:
pivot

     absences  G3
0           6   6
1           4   6
2          10  10
3           2  15
4           4  10
..        ...  ..
390        11   9
391         3  16
392         3   7
393         0  10
394         5   9

[395 rows x 2 columns]

In [10]:
count = len(pivot[(pivot['absences']>10) & (pivot['G3']>16)])
print(count)

3

In [11]:
count1 = len(pivot[(pivot['absences']>10)])
print(count1)

66

In [12]:
count2 = len(pivot[(pivot['G3']>16)])
print(count2)

24

In [15]:
P_a_intersection_b = count/395
P_a = count2/395
P_b = count1/395

In [16]:
P = P_a_intersection_b/P_b
P

0.04545454545454545

## Q2. The birthday problem

Compute the probability of getting a minimum of one overlapping birthday in a random group comprising of 23 persons. 

Because obtaining random samples again and again is a tedious task, we can do simulations on a computer with assumptions:

The birthdays are independent of each other
Each possible birthday has the same probability
There are only 365 possible birthdays (not 366, since we’re ignoring leap years)

Hint# In other words, we’re modeling the process as drawing 23 independent samples from a discrete uniform distribution with parameter n = 365.

In [18]:
from random import randint
 
 
NUM_PEOPLE = 23
NUM_POSSIBLE_BIRTHDAYS = 365
NUM_TRIALS = 10000
 
 
def generate_random_birthday():
    birthday = randint(1, NUM_POSSIBLE_BIRTHDAYS)
    return birthday
 
 
def generate_k_birthdays(k):
    birthdays = [generate_random_birthday() for _ in range(k)]
    return birthdays
 
 
def aloc(birthdays):
    unique_birthdays = set(birthdays)
 
    num_birthdays = len(birthdays)
    num_unique_birthdays = len(unique_birthdays)
    has_coincidence = (num_birthdays != num_unique_birthdays)
 
    return has_coincidence
 
 
def estimate_p_aloc():
    num_aloc = 0
    for _ in range(NUM_TRIALS):
        birthdays = generate_k_birthdays(NUM_PEOPLE)
        has_coincidence = aloc(birthdays)
        if has_coincidence:
            num_aloc += 1
 
    p_aloc = num_aloc / NUM_TRIALS
    return p_aloc
 
 
p_aloc = estimate_p_aloc()
print(f"Estimated P(ALOC) after {NUM_TRIALS} trials: {p_aloc}")

Estimated P(ALOC) after 10000 trials: 0.5102

## Q3. Weight of frogs

The weight of a certain species of frog is uniformly distributed between 15 and 25 grams. If you randomly select a frog, what is the probability that the frog weighs between 17 and 19 grams?

In [17]:
from scipy.stats import uniform

#calculate uniform probability
uniform.cdf(x=19, loc=15, scale=10) - uniform.cdf(x=17, loc=15, scale=10)

0.2

## Q4. Telecommunication Industry

According to the Telecommunication Industry the average monthly cell phone bill is Rs. 1000 with a standard deviation of Rs. 200.

What is the probability that a randomly selected cell phone bill is more than Rs 1200? What is the probability that a randomly selected cell phone bill is between Rs 750 and Rs 1200? What is the probability that a randomly selected cell phone bill is no more than Rs 650? What is the amount above which lies top 15% of cell phone bills? What is the amount below which lies bottom 25% of cell phone bills?

Note: This is a problem of normal probability distribution. Though the distribution is not mentioned, in absence of any other information we assume normality in the population.

In [20]:
from scipy import stats
a = stats.norm.cdf(1200,1000,200)
g = 1-a
print(g)

b = stats.norm.cdf(750,1000,200)
print(a-g)
stats.norm.ppf(.15,1000,200)

stats.norm.ppf(.25, 1000,200)

0.15865525393145707
0.6826894921370859

865.1020499607837

## Q5. Fruit problem

Suppose we own a fruit shop and on an average 3 customers arrive in the shop every 10 minutes. The mean rate here is 3 or λ = 3. Poisson probability distributions can help us answer questions like what is the probability that 5 customers will arrive in the next 10 mins?

In [21]:
from scipy.stats import poisson
poisson.cdf(k=5, mu = 3)

0.9160820579686966